<% var data = {
  title: "Заголовок | Проект",
  author: "Chernetsov"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<body>
	
	<%= _.template(require('./../includes/logo.html').default)(data) %>

	<%= _.template(require('./../includes/text_field.html').default)(data) %>

	<%= _.template(require('./../includes/dropdown.html').default)(data) %>

	<%= _.template(require('./../includes/mask-date.html').default)(data) %>





	
 	<script src="./js/bundle.js"></script> 

</body>
</html>


