.listColor{
  margin: 62px 0 0 144px;
  padding: 0;
  list-style: none;
  width: 400px;
  float: left;
  
  &__item{
    margin-bottom: 21px;
    display: flex;
    width: 400px;
  
    &:nth-child(2)> .listColor__item-colorSqure{
      background-color: rgba(31, 32, 65, 0.75);
    }

    &:nth-child(3)> .listColor__item-colorSqure{
      background-color: rgba(31, 32, 65, 0.5);
    }

    &:nth-child(4)> .listColor__item-colorSqure{
      background-color: rgba(31, 32, 65, 0.25);
    }

    &:nth-child(5)> .listColor__item-colorSqure{
      background-color: rgba(31, 32, 65, 0.05);
    }

    &:nth-child(6)> .listColor__item-colorSqure{
      background-color: #BC9CFF;
    }

    &:nth-child(7)> .listColor__item-colorSqure{
      background-color: #6FCF97;
    }

    &-colorSqure{
      background-color: #1F2041;
      width: 70px;
      height: 70px;
      border-radius: 6px;
      margin-left: 6px;
      margin-top: -1px;

    }

    &-text{
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-size: 19.5px;
      line-height: 27px;
      margin-left: 40px;
      margin-top: 5px;
      color: #1F2041;


    }
  }
}