/*@import "bootstrap/bootstrap";*/
@import "mixins.scss";
@import "../fonts/fonts.css";
@import "logo.scss";
@import "media.scss";
@import "text-field.scss";
@import "dropdown.scss";

html{
  min-width: 650px;
  margin: 0;
  background-image: url('../img/Form Elements.jpg');
  background-size: cover;
  width: 1440px;
  height: 1853px;

}


body{
  margin: 0;
}