.titles{
	&__container{

		width: 100px;
		float: left;
		margin-left: 313px;
		margin-top: 46px;

		&-text{
			margin-top: 24px;
			width: 350px;
			float: left;
			margin-left: -46px;

		}
	}

	&__headers{
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		color: rgba(31, 32, 65, 0.25);

	}

	&__h1{
		font-size: 23px;
	}

	&__h2{
		margin-top: 81px;
		font-size: 20px;
	}

	&__h3{
		margin-top: 73px;
		font-size: 13px;
		margin-left: 8px;
	}

	&__p{
		margin-top: 49px;
		margin-left: -12px;
		font-size: 15px;
	}

	&__text{

		&_1{
	        font-family: Quicksand;
	        font-style: normal;
	        font-weight: bold;
	        font-size: 24px;
	        color: #1F2041;
	        margin-top: 36px;
			width: 350px;

	    }

	    &_2{
	    	font-family: Quicksand;
			font-style: normal;
			font-weight: 700;
			font-size: 19px;
			color: #1F2041;
			margin-top: 50px;
			width: 314px;
			margin-left: 2px;
	    }

	    &_3{
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
			margin-top: 50px;
			margin-left: 2px;
			color: #1F2041;
	    }

	    &_4{
	    	color: rgba(31, 32, 65, 0.75);
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			margin-top: 47px;
			width: 313px;
	    }
	}
}